[package]
name = "desperado"
version = "0.1.0"
edition = "2024"
authors = ["Xavier Olive <git@xoolive.org>"]
license = "MIT"
description = "Basic digital processing for radio signal decoding"
repository = "https://github.com/xoolive/voracious"
keywords = ["radio", "decoder"]

[dependencies]
dirs = "6.0.0"
futures = "0.3.31"
num-complex = "0.4.6"
rtl-sdr-rs = { version = "0.2", optional = true }
tokio = { version = "1.48.0", features = ["full"] }
# For waterfall example
plotters = { version = "0.3.7", optional = true }
rustfft = { version = "6.4.1", optional = true }

[features]
default = []
rtlsdr = ["dep:rtl-sdr-rs"]
waterfall = ["plotters", "rustfft"]

[[example]]
name = "waterfall"
path = "examples/waterfall.rs"
required-features = ["waterfall"]
