name: Rust

on:
  push:
    branches:
      - master
      - main
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Set up dependencies
        run: |
          sudo apt-get update
          # fontconfig is needed for plotters that use font rendering
          # libasound2-dev is needed for audio output in some examples
          sudo apt-get install -y --no-install-recommends libfontconfig1-dev libasound2-dev
          # libiio-* is needed for Adalm-Pluto support
          sudo apt-get install -y --no-install-recommends libsoapysdr-dev libiio-dev libiio-utils

      - name: Code linting
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings

      - name: Code formatting
        run: cargo fmt --all --check

      - name: Build
        run: cargo build --verbose --release

      - name: Run tests, examples and benchmarks
        run: cargo test --workspace --all-features --all-targets

      - name: Check docs
        env:
          RUSTDOCFLAGS: "-D rustdoc::all -A rustdoc::private-doc-tests"
        run: cargo doc --all-features --no-deps
